.container {
   display:flex;
   width:100vw;
   height:100vh;
}

.leftcol {
   display:flex;
   width:50%;
   
}

.article {
   align-content: center;
   justify-content: center;
}


.rightImage {
   display:flex;
   min-width:100%;
}


.App-logo {
   /* display: flex; */
   padding: 5px 0px;
   margin: 0 auto;
   /* width:18%; */
   /* justify-content: center; */
}



