.spl_container {
   display: flex;
   width: 100vw;
   height: 100vh;
}

.spl_leftcol {
   display: flex;
   width: 50%;
}

.spl_article {
   display: flex;
   align-content: center;
   justify-content: center;
   flex-direction: column;
}

.spl_logo {
   display: flex;
   padding: 0px 0px;
   margin: 0 auto;
   width:18%;
   justify-content: center;
}

.spl_headline {
   display: flex;
   justify-content: center;
   font-family: Roboto;
   font-weight: 300;
   font-size: 4.25rem;
   line-height: .1;
}

.spl_subhead {
   display: flex;
   justify-content: center;
   font-family: Roboto;
   font-weight: 500;
   font-size: 1.5rem;
   line-height: 1.3;
   padding: 0px 15px;
}

.spl_blurb {
   display: flex;
   justify-content: center;
   font-family: Roboto;
   font-weight: 300;
   font-size: 1rem;
   line-height: 1.3;
   padding: 10px 25px;

}



.button {
   display: flex;
   justify-content: center;
}

.rightImage {
   display: flex;
   object-fit: cover;
   height: 100vh;
   width: 50vw;
}

@media only screen and (max-width: 1175px) {
   .spl_headline {
      font-size: 3.25rem;
   }
}

@media only screen and (max-width: 920px) {
   .spl_headline {
      font-size: 2.5rem;
      line-height: 1.1;
      text-align: center;
   }
   .spl_subhead {
      font-size:1.75rem;
   }
   .spl_logo {
      width: 30%; 
   }
}